[submodule "microfrontend"]
	path = microfrontend
	url = https://github.com/shegga9x/appf4-microfrontends
	branch = master

[submodule "infra/vps-config"]
	path = infra/vps-config
	url = https://github.com/shegga9x/f4-vps-configuration

[submodule "infra/microservices-vps-config"]
	path = infra/microservices-vps-config
	url = https://github.com/shegga9x/f4-microserices-vps-configuration

[submodule "backend/gateway"]
	path = backend/gateway
	url = https://github.com/shegga9x/f4-apigateway

[submodule "backend/ms_user"]
	path = backend/ms_user
	url = https://github.com/shegga9x/f4-microservices-user

[submodule "backend/ms_reel"]
	path = backend/ms_reel
	url = https://github.com/shegga9x/f4-microservices-reel

[submodule "backend/ms_commentlike"]
	path = backend/ms_commentlike
	url = https://github.com/shegga9x/f4-microservices-like-comment

[submodule "backend/ms_notification"]
	path = backend/ms_notification
	url = https://github.com/shegga9x/f4-microservices-notification

[submodule "backend/ms_feed"]
	path = backend/ms_feed
	url = https://github.com/shegga9x/f4-microservices-feed
